name: Test
on:
  - push
jobs:
  build:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: "npm"
      - run: npm run lint
      - run: npm cit
        if: ${{ !cancelled() }}
      - run: npm it
        working-directory: ./example
